.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

video {
    width: 100%;
}


#video-container:-webkit-full-screen #video {
    width: 100%;
    height: auto;
}
#video-container:-moz-full-screen #video {
    width: 100%;
    height: auto;
}
#video-container:-ms-fullscreen #video {
    width: 100%;
    height: auto;
}
#video-container:fullscreen #video {
    width: 100%;
    height: auto;
}

video {
	max-width: 100%;
	height: auto;
}

body{
	background-color: #000000;
	color:#ffffff;
}



